body{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-do-quadro-de-flor-rosa-com-aquarela_65186-2566.jpg?w=2000);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}